<div class="container">
  <article class="row">
    <section class="col-xs-8 col-sm-5 col-md-6">
      <h2>About this site</h2>
      <br>
      <p>Moovies is a simple web application that showcases some of the favorite movies of Bryan Lackey (site developer).</p> 
      <p>It uses a Sinatra back-end framework with HTML5, CSS3, and the Twitter Bootstrap CSS framework on the front-end.
      </p>
      <br>

     </section>

     <section class="col-xs-8 col-sm-5 col-md-4">
      <a href="https://www.youtube.com/watch?v=BaaDiCwfTxY" target="_blank">
        <img class="img-responsive chaplin animated bounceInUp" src="http://www.doctormacro.com/Images/Chaplin,%20Charlie/Chaplin,%20Charlie%20(Circus,%20The)_01.jpg" />
      </a>  
    </section>   
  </article>
</div>