<div class="container-fluid">
  <article class="row">
    <section class="col-xs-8 col-sm-5 col-md-5">
      <h2>About this site</h2>
      <p>MovieApp is a simple web application that showcases some of the favorite movies of Bryan Lackey (site developer).</p> 
      <p>It uses a Sinatra back-end framework with HTML5, CSS3, and the Twitter Bootstrap CSS framework on the front-end.</p>
    </section>   
  </article>
</div>