<div class="container-fluid"> 
  <div class="jumbotron">
    <h2>Welcome to MovieApp!</h2>
    <p>A tastefully curated list of movies. Just for you.</p>
    <br>
    <p><a class="btn btn-success btn-lg" href="/movies">Check it out</a></p>
    <img class="img-responsive" width="400" height="300" src="/img/popcorn.jpg" />               
  </div>  
</div> 
