<div class="container-fluid"> 
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <a href="http://mentalfloss.com/article/61130/why-popcorn-default-movie-theater-snack" target="_blank">
          <img class="img-responsive popcorn" width="350" height="250" src="/img/popcorn.jpg" />
        </a> 
      </div> 
      <div class="col-sm-6 col-md-6">
        <h2>Welcome to Moovies!</h2>
        <p>A tastefully curated list of movies. Just for you.</p>

        <br>
        <p><a class="btn btn-success btn-lg" href="/movies">Check it out</a></p>

        <div class="col-md-4"></div>
        <a href="https://www.youtube.com/watch?v=O8_nWk4qtAU" target="_blank">
          <img class="img-responsive cow animated swing" width="100px" src="/img/cow.GIF" />
        </a>
      </div>
    </div>            
  </div>  
</div> 
