<div class="container-fluid"> 
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <img class="img-responsive" width="350" height="250" src="/img/popcorn.jpg" /> 
      </div>  
      <div class="col-sm-6 col-md-6">
        <h2>Welcome to MovieApp!</h2>
        <br>
        <p>A tastefully curated list of movies. Just for you.</p>
        <br>
        <p><a class="btn btn-success btn-lg" href="/movies">Check it out</a></p>
      </div>
    </div>            
  </div>  
</div> 
