<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <!-- Latest compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="/" title="...">MovieApp</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav">
          <li <%= 'class="active"' if @active == 'my movies' %>><a href="/my-movies">My Movies</a></li>
          <li <%= 'class="active"' if @active == 'your movies' %>><a href="/your-movies">Your Movies</a></li>
          <li <%= 'class="active"' if @active == 'about' %>><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
           <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
