/* Bootstrap Overrides */

.jumbotron {
  background-color: transparent;
}

a:focus {
  outline: none;
}

.movie {
  margin: 5px; 
  padding-bottom: 5px;
}

.dropdown {
  margin-top: 9px;
}

.cow {
  position: absolute;
  bottom: 0px;
  left: 200px;
}

.popcorn, .chaplin {
  border-radius: 20px;
}








